* {
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

body {
  font-family: DM Serif Display, serif;
  background-color: black;
  color: white;
  margin-left: 10%;
  margin-right: 10%;
}

.header-cv {
  padding: 10px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  padding: 10px 25px;
  border-radius: 15px;
  font-family: DM Serif Display, serif;
  font-size: 16px;
  transition: background-color 0.5s, color 0.5s;
}

.header-cv:hover {
  background-color: white;
  color: black;
}

.header-inside {
  display: flex;
  flex-direction: row;
}

header {
  padding: 40px;
}

.header-brand {
  font-size: 32px;
  width: 200px
}

.hamburger-menu {
  display: none;
}

.header-hamburger {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-self: center;
  align-items: center;
}

.header-hamburger div {
  font-size: 20px;
  cursor: pointer;
  transition: text-decoration 0.5s;
}

.header-hamburger div:hover {
  text-decoration: underline;
}

.header-space {
  width: 500px;
  padding-left: 5%;
  padding-right: 5%;
}

.main-inner {
  margin-top: 10%;
  padding-left: 4%;
  padding-right: 4%;
}

.main-inner h1 {
  font-size: 40px;
  font-weight: 500;
}

.main-catchphrase {
  font-weight: 500;
  word-wrap: break-word;
  margin-bottom: 20px;
}

.main-links {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.links {
  width: auto;
  border: 1px solid white;
  background-color: black;
  color: white;
  font-family: DM Serif Display, serif;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.8s, color 0.5s;
}

.links:hover {
  background-color: white;
  color: black;
}