* {
  margin: 0;
  padding: 0;
}

body {
  font-family: DM Serif Display, serif;
  background-color: black;
  color: white;
  margin-left: 10%;
  margin-right: 10%;
}

.header-cv {
  padding: 10px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  padding: 10px 25px;
  border-radius: 15px;
  font-family: DM Serif Display, serif;
  font-size: 16px;
}

.header-inside {
  display: flex;
  flex-direction: row;
}

header {
  padding: 40px;
}

.header-brand {
  font-size: 32px;
  width: 200px
}

.hamburger-menu {
  display: none;
}

.header-hamburger {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-self: center;
  align-items: center;
}

.header-hamburger div {
  font-size: 20px;
  cursor: pointer;
}

.header-space {
  width: 500px;
  padding-left: 5%;
  padding-right: 5%;
}
