* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}


a {
  color: white;
  text-decoration: none;
}

body {
  font-family: DM Serif Display, serif;
  background-color: black;
  color: white;
  margin-left: 10%;
  margin-right: 10%;
}

.header-cv {
  padding: 10px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  padding: 10px 25px;
  border-radius: 15px;
  font-family: DM Serif Display, serif;
  font-size: 16px;
  transition: background-color 0.5s, color 0.5s;
}

.header-cv:hover {
  background-color: white;
  color: black;
}

.header-inside {
  display: flex;
  flex-direction: row;
}

header {
  padding: 40px;
}

.header-brand {
  font-size: 32px;
  width: 200px
}

.hamburger-menu {
  display: none;
}

.header-hamburger {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-self: center;
  align-items: center;
}

.header-hamburger div {
  font-size: 20px;
  cursor: pointer;
  transition: text-decoration 0.5s;
}

.header-hamburger div:hover {
  text-decoration: underline;
}

.header-space {
  width: 500px;
  padding-left: 5%;
  padding-right: 5%;
}

.main-inner {
  margin-top: 10%;
  padding-left: 4%;
  padding-right: 4%;
}

.main-inner h1 {
  font-size: 40px;
  font-weight: 500;
}

.main-catchphrase {
  font-weight: 500;
  word-wrap: break-word;
  margin-bottom: 20px;
}

.main-links {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.links {
  width: auto;
  border: 1px solid white;
  background-color: black;
  color: white;
  font-family: DM Serif Display, serif;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.8s, color 0.5s;
}

.links:hover {
  background-color: white;
  color: black;
}

.projects-section {
  margin-top: 250px;
  padding-left: 4%;
  padding-right: 4%;
  margin-bottom: 250px;
}

.skills-container {
  padding-left: 4%;
  padding-right: 4%;
  margin-bottom: 250px;
  flex-wrap: wrap;
}

.projects-intro {
  font-size: 28px;
  margin-bottom: 50px;
}

.prj-image {
  width: 400px;
  height: 300px;
  padding-left: 10px;
  padding-right: 10px;
  object-fit: contain;
}

.project {
  display: flex;
  flex-direction: row;
}

.project-list-container {
  display: flex;
  flex-direction: column;
  gap: 100px;
  flex-wrap: wrap;
}

.project-right-side {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.project-personal {
  font-size: 18px;
  padding-bottom: 20px;
  font-weight: 300;
  font-family: Inter, sans-serif;
}

.project-title {
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.project-text {
  font-family: Inter,san-serif;
  font-weight: 300;
  padding-bottom: 50px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.project-skills {
  font-family: Inter,san-serif;
  font-weight: 200;
  padding-bottom: 30px;
}

.projects-links {
  display: flex;
  gap: 20px;
  font-family: Inter,sans-serif;
  font-size: 15px;
}

.projects-image {
  transition: transform 0.8s;
}

.projects-image:hover {
  transform: scale(1.1);
}

.project-buttons {
  width: auto;
  display: flex;
  flex-direction: row;
  gap: 30px;

  margin-top: 100px;
  justify-content: center;
}

.projects-repos-buttons {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  font-family: Inter,san-serif;
  cursor: pointer;
  transition: background-color 0.8s;
}

.projects-repos-buttons:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.skills-li-li-ico {
  width: 30px;
  height: 30px;
}

.skills-title, .about-title {
 font-size: 28px;
 margin-bottom: 30px;
}

.skills-lists-con {
  display: flex;
  gap: 20px;
  word-wrap: break-word;
  flex-wrap: wrap;
}

.skills-li-li {
  font-size: 18px;
  border: 1px solid white;
  padding: 10px 10px;
  width: auto;
  border-radius: 15px;
  cursor: default;
}

.skills-li-li-ico {
  vertical-align: middle;
}

.skills-li-li:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.skills-li-li {
  transition: ease-in-out background-color 0.8s, color 0.8s;
}

.about-image-img {
  width: 300px;
}

.about-container {
  padding-left: 4%;
  padding-right: 4%;
  gap: 30px;
  margin-bottom: 250px;
}

.about-text-image-con {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 flex-direction: column;
}

.about-image {
  display: flex;
  flex-direction: row;
}

.about-txt, .about-txt-con {
  word-wrap: break-word;
  margin-left: 5%;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  font-family: Inter,san-serif;
  padding-bottom: 20px;
}

.txt-color {
  position: absolute;
  background-color: rebeccapurple;
  padding: auto;
  width: auto;
  transition: ease-in-out background-color 0.8s, color 0.9s;
}

.fr {
  background-color:rebeccapurple;
  padding: 2px;
  transition: ease-in-out background-color 0.8s, color 0.9s;
}

.fr:hover, .txt-color:hover {
  background-color: white;
  color: rebeccapurple;
}

